.hero {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    margin: 0 3.125rem 1.25rem 3.125rem;
}

.sec-left {
    flex: 1;
    height: 40rem;
    padding: 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.sec-right {
    width: 30vw;
    height: 40rem;
    background: #0367E4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none;
}

.sec-main {
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    gap: 1.25rem;
}

.sec-main-title-1 {
    font-family: var(--font-rem);
    text-transform: uppercase;
    font-size: 5.125rem;
    font-weight: 600;
    letter-spacing: 0.1225rem;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sec-main-title {
    font-family: var(--font-rem);
    text-transform: uppercase;
    font-size: 5.125rem;
    font-weight: 600;
    letter-spacing: 0.1225rem;
    color: var(--color-secondary);
}

.hero-btn {
    width: 22rem;
    height: auto;
    cursor: pointer;
}

.sec-main-subtitle {
    font-family: var(--font-rem);
    text-transform: uppercase;
    font-size: 1.40rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    background: -webkit-linear-gradient(126deg, #6A35EE 0%, #9930EF 14.24%, #5737EE 49.56%, #795CEB 93.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shape-btn {
    padding: 0.90rem;
    background: var(--color-primary);
    border: none;
    border-radius: 10rem;
}

.sec-banner {
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    border-radius: 0.75rem;
    background: var(--color-primary);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sec-banner-track {
    display: inline-flex;
    gap: 1.25rem;
    animation: scrollBanner 50s linear infinite;
    min-width: 200%;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
}

.sec-main-mb {
    display: none;
}

.sec-main-dk {
    display: flex;
    flex-wrap: wrap;
}

.main-l {
    margin-right: 1rem;
}

.stats-card {
    background: var(--color-primary);
    padding: 2.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-rf);
    text-align: center;
    height: -webkit-fill-available;
    gap: 1.25rem;
}

.stats-title {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.stats-count {
    font-size: 3.75rem;
    font-weight: 700;
    color: #fff;
}

.know-more-down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    grid-column: span 2;
    width: 100%;
    margin-top: 2.125rem;
}

.know-more-img-down {
    cursor: pointer;
}

.know-more-title-down {
    background: -webkit-linear-gradient(126deg, #6A35EE 0%, #9930EF 14.24%, #5737EE 49.56%, #795CEB 93.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.sec-main-subtitle {
    font-family: var(--font-rem);
    text-transform: uppercase;
    font-size: 1.40rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    background: -webkit-linear-gradient(126deg, #6A35EE 0%, #9930EF 14.24%, #5737EE 49.56%, #795CEB 93.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hide the subtitle when the class is added */
.hide-subtitle {
    display: none !important;
}

/* Optional responsiveness */
@media (max-width: 768px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }

    .hero-about-stats {
        margin: 2rem 1.5rem;
        padding: 2rem;
    }

    .stats-card {
        padding: 2rem;
    }
}


@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 819px) {
    .hero {
        flex-direction: column;
        margin: 0 2.125rem 1.25rem 2.125rem;
        gap: 2rem;
    }

    .sec-left {
        height: auto;
        padding: 2rem 2rem;
        width: 100%;
    }

    .sec-main {
        padding: 0;
        gap: 2rem;
    }

    .sec-main-title-1,
    .sec-main-title {
        font-size: 3.5rem;
        letter-spacing: 0.05rem;
        line-height: 1.4;
        flex-wrap: wrap;
    }

    .hero-btn {
        width: 16rem;
        height: auto;
    }

    .sec-main-subtitle {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    .sec-right {
        display: none !important;
    }

    .sec-banner {
        padding: 1.5rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
    }

    .sec-banner-track {
        gap: 1rem;
    }

    .sec-main-dk {
        display: none;
    }

    .sec-main-mb {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .sec-main-subtitle {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    .sec-main-subtitle.hide-subtitle {
        display: none !important;
    }

    .sec-banner-track {
        animation: scrollBanner 10s linear infinite;
    }
}

@media (max-width: 1024px) and (min-width: 820px) {

    .sec-right {
        display: none !important;
    }

    .sec-left {
        height: auto;
    }

    .sec-main-title-1,
    .sec-main-title {
        font-size: 5rem;
    }

    .hero-btn {
        width: 18rem;
        height: auto;
    }

    .sec-main-subtitle {
        font-size: 1.25rem;
    }

    .sec-main-dk {
        display: none;
    }

    .sec-main-mb {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .sec-banner-track {
        animation: scrollBanner 30s linear infinite;
    }
}

@media (max-width: 1220px) and (min-width: 1025px) {

    .sec-main-title-1,
    .sec-main-title {
        font-size: 4.125rem;
    }
}