@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Readex+Pro:wght@160..700&display=swap');

/* Theme */
:root {
  --background-color: #000000;
}

/* Base rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro', Inter, 'DM Sans', sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  background-color: var(--background-color);
}

.gradient-border {
  background: linear-gradient(90deg,
      rgba(132, 162, 255, 1) 30%,
      rgba(160, 247, 221, 1) 50%,
      rgba(136, 183, 255, 1) 70%);
  background-size: 200% 50%;
  padding: 2px;
  border-radius: 4.6rem;
  display: inline-block;
  animation: gradientScroll 2s linear infinite alternate;
}

.gradient-text {
  background: linear-gradient(90deg,
      rgba(132, 162, 255, 1) 30%,
      rgba(160, 247, 221, 1) 50%,
      rgba(136, 183, 255, 1) 70%);
  background-size: 200% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientScroll 1s linear infinite alternate;
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}