.header {
    padding: 1.5rem 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
}

.nav-items a {
    padding: 1.125rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--font-pop);
    line-height: 150%;
    color: var(--color-off-black-2);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-items a.active {
    background: -webkit-linear-gradient(126deg, #6A35EE 0%, #9930EF 14.24%, #5737EE 49.56%, #795CEB 93.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.nav-items a:hover {
    background: -webkit-linear-gradient(126deg, #6A35EE 0%, #9930EF 14.24%, #5737EE 49.56%, #795CEB 93.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.nav-items-2 a {
    padding: 1.125rem 1.5rem;
    background: var(--color-primary);
    color: #fff;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: var(--font-pop);
}

.logo {
    width: 8.5rem;
}